@import 'mixins';

nav {
    @include navflex;
    //position: fixed;
    width: 90%;
    > :nth-child(2) {
        @include flex(row, left);
        list-style: none;
        gap: 80px;
        align-items: center;
        padding-top: 0.5%;
        width: 80%;
        height: 100%;
        font-weight: 700;
        color: $Gray;
    }
    > :nth-child(3) {
        @include flex(row, left);
        padding-top: -0.5%;
        > :nth-child(1) {
            background-color: transparent;
            color: $Gray;
            width: 150px;
        }
        > :nth-child(2) {
            width: 150px;
            border-radius: 25px;
        }
    }
}
