@import 'partials/variables';
@import 'partials/mixins';

* {
    font-family: $poppins;
}
button {
    background-color: $cian;
    font-weight: 700;
    color: white;
    border: none !important;
    border: none !important;

    &:hover {
        opacity: 0.65;
    }
}

.sec3 {
    ul {
        list-style: none;
        li {
            background-color: white;
            width: 350px;
            padding: 20px;
            div {
                position: relative;
                top: -50px;
                left: 20px;
                width: 60px;
                height: 60px;
                border-radius: 30px;
                background-color: $D_violit;
                display: grid;
                place-items: center;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
            h3 {
                font-size: 20px;
                font-weight: 700;
            }
            p {
                font-size: 14px;
                color: $Gray;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    @import 'partials/desktop';
}
@media screen and (max-width: 1440px) and (min-width: 375px) {
    @import 'partials/tablet';
}
@media screen and (max-width: 375px) {
    @import 'partials/phone';
}
