// colrs

$cian: hsl(180, 66%, 49%);
$D_violit: hsl(257, 27%, 26%);

$red: hsl(0, 87%, 67%);
$Gray: hsl(0, 0%, 75%);
$Gray_Violet: hsl(257, 7%, 63%);
$Very-D_Blue: hsl(255, 11%, 22%);
$Very_D_Violet: hsl(260, 8%, 14%);

//fint famely

$poppins: Poppins;
